certifi==2020.12.5
chardet==4.0.0
Django==2.2.5
django-admin-honeypot==1.1.0
Faker==8.2.0
gunicorn==20.1.0
idna==2.10
pexpect==4.8.0
Pillow==8.2.0
ptyprocess==0.7.0
python-dateutil==2.8.1
requests==2.25.1
six==1.16.0
Strip==0.0.1.dev14
stripe==2.58.0
text-unidecode==1.3
urllib3==1.26.5
whitenoise==5.2.0
wincertstore==0.2
